/* ! Main */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');



body{
  overflow-x: hidden;
}

button{
  /* background-color: #283361; */
  background-color: #9D8189;
  border: none;
  border-radius: 13%;
  color: #FCF;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


/* * Main main class from App.js */

.App{
  min-height: 100vh;
  width: 99.5vw;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.side-by-side{
  min-height: 100%;
  display: flex;
}

/* ! App.js end */
/* * Styling and fitting for the header bar and contents from Header.js */



.header{
  width: 100%;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  /* background-color:#506369; */
  background-color: #9AAFA2;
  border-bottom: 1px solid #9D8189;
}

/* .border-bottom{

} */

/* * Left side of header */
/*  */

.left-header{
  width: 15%;
}

.logo-bg{
  height: 17vh;
  width: 8.5vw;
  background-color: #FFD7DF;
  opacity: 95%;
  border-radius: 50%;
  display: flex;
  align-content: center;
  margin: .3em;
  margin-left: .8em;
}

.logo{
  height: 95%;
  display: flex;
  align-content: center;
  margin-left: .7em;
}



/* * Middle of header */

.mid-header{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.shop-name{
  display: flex;
  font-size: 5em;
  font-family: 'Dancing Script', cursive;
  /* color: #cd2e82; */
  /* color: #ffe5d9 */
  color: #FFCAD4;
  text-shadow:
    2px  2px 0 #000,
   -.5px -1px 0 #000,  
    3px -1px 0 #000,
   -.8px 1.3px 0 #000,
    3px  4px 0 #000;
}

/* * Right side of header */

.right-header{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: flex-end;
  margin-right: .5em;
}

.motto{
  height: 30%;
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 38px;
  font-weight: 500;
  margin-top: 0px;
  margin-right: 10px;
}

.motto a{
  text-decoration: none;
  color: #ece4db;
}

.motto a:hover{
  font-size: 58px;
  color: #fcd5ce;
}

/* ! End of Header.js */
/* * Individual cake image sizing and image display from Cake.js */
/* ! AS WELL AS THE WRAPPING WHICH FLOWS OVER TO DisplayCakes.js */

.cake{
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.cake img{
  height: 35vh;
  width: 18vw;
  border-radius: 20%;
  border: 3px solid #FFCAD4;

}

.cake img:hover{
  /* border: 5px outset cornflowerblue; */
  border: 5px outset #D8E2DC;
}

.cake h2{
  font-size: 30px;
  font-weight: 700; 
  color: #829E8D;
  margin-top: 5px;
  margin-bottom: 0PX;
}

.cake h3{
  font-size: 20px;
  font-weight: 400;
  color: #D51B7C;
  margin-top:0;
  margin-bottom: 0;
}

.cake h4{
  font-size: 18px;
  font-weight: 300;
  color: #9D8189;
  margin-top: 0;
  margin-bottom: 0;
}




.add-btn-style{
  background-color: transparent;
  color: #565264;
  /* color: #fff; */
  /* border: 1px solid #9D8189; */
  background-color: #9AAFA2;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 1vh;
  transition-duration: 0.5s;
  cursor: pointer;
  padding: 8PX 13PX;
  transition: .2s;
}

.add-btn-style:hover{
  /* background-color: #4caf50; */
  border: 1px solid #9D8189;
  background-color: #D8E2DC;
  color: #9D8189;
}



/* ! End of Cake.js */
/* * Positioning and layout of DisplayCakes.js */

.left{
  width: 79vw;
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  /* background-color: #7f948f;*/
  /* background-color: #F4ACB7; */
  background-color: #FFCAD4;
}

.cake-btn-divide{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bakery{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.buttons{
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  overflow: hidden;
}

.btn-left{
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 0px;
}

.btn-right{
  width: 18%;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;
  position: relative;
  bottom: 0px;
  right: .8vw;
}

.text-wrap{
  width: 98%;
  color: #9d8189;
  text-align: center;
  margin-bottom: 2px;
}

/* ! End of DisplayCakes.js */
/* * Positioning and layout of Checkout.js */

.right{
  min-height: 100%;
  width: 21vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #afeeee; */
  /* background-color: #FFCAD4; */
  background-color: #F4ACB7;
  border-left: 1px solid #9D8189;
  color: #565264;
}

.right h2{
  font-size: 38px;
  font-weight: 400;
}

.cart{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cart ol{
  width: 100%;
  padding: 0;
}

.cart span{
  font-size: 20px;
  margin: 0px;
}

/* .cart-quantity{
  display: flex;
} */

/* .cart-cake{
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
} */

.cart-cake{
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}

.cart-cake img{
  height: 100px;
  width: 100px;
  display: flex;
  align-content: center;
  border: .5px solid #9D8189;
  border-radius: 20%;
}

.cart-cake h2{
  font-size: 20px;
  color:#829E8D;
  margin-top: 1px;
  margin-bottom: 0;
}

.cart-cake h3{
  font-size: 17px;
  font-weight: 400;
  color: #D51B7C;
  margin-top: 0;
}

.cart-cake button{
  display: inline-block;
  background-color: #9D8189;
  font-size: 20px;
  border-radius: 13%;
  padding: 5px 13px;
}

#total{
  width: 80%;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  color: #565264;
  border-top: 3px dotted #9D8189;
  margin-top: 30px;
}

.checkout-btn{
  display: flex;
  width: 90%;
  justify-content: center;
  font-size: 28px;
  opacity: 0.5;
  color: #d3c3c8;
  background-color:  #9D8189;
  border: 1.5px solid #9D8189;
  margin-top: 20px;
  padding: 5px;
}

.checkout-btn:hover{
  opacity: 1;
  background-color: #FFCAD4;
  color: #565264;
  font-size: 30px;
}

/* * In Cake.js but applies to Checkout.js */


.checkout-margin{
  font-weight: 400;
  margin-top: 0px;
  color: #9D8189;
}

/* * End of Checkout.js in Cake.js */
