@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/* * Main main class from App.js */

.App{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* ! App.js end */
/* * Styling and fitting for the header bar and contents from Header.js */


.flex-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  height: 10%;
  min-width: 100%;
  background-color: rgb(164, 57, 173);
}

/* * Left side of header */

.left>*{
  margin: 20px;
}

.logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* * Middle of header */

.mid{
  text-align: center;
}

.shop-name{
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  /* display: inline-block; */
}


/* * Right side of header */

.right{
  text-align: right;
}

.motto{
  display: flex;
  margin: 13px;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
}
.right a{
  text-decoration: none;
}

.right a:hover{
  font-size: 25px;
  opacity: 0.5;
}




/* ! End of Header.js */
/* * Individual cake image sizing and image display from Cake.js */
/* ! AS WELL AS THE WRAPPING WHICH FLOWS OVER TO DisplayCakes.js */

.cake{
  height: auto;
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.cake img{
  height: 250px;
  width: 250px;
  border-radius: 20%;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.cake h2{
  font-size: 35px;
  font-weight: 800; 
  color: #187940;
  margin: 10px;
}

.cake h3{
  font-weight: 400;
  color: #7d53f0;
  margin-top:0;
  margin-bottom: 80px;
}

.add-btn-style{
  display: flex;
  margin-bottom: 30px;
}

/* ! End of Cake.js */
/* * Positioning and layout of DisplayCakes.js */

.flex-cake-container{
  width: 75%;
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  background-color: #fcc688;
  margin: 0;
}

.cake-show{
  /* height: 100%; */
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* margin: px; */
  margin-top: 50px;
}

.side-by-side{
  display: flex;
}

/* ! End of DisplayCakes.js */
/* * Positioning and layout of Checkout.js */

.flex-cart-container{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #afeeee;
}

.cart{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}