/* ! Main font */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


/* * Main main class from App.js */

body{
  overflow-x: hidden;
}

.App{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.side-by-side{
  min-height: 100%;
  display: flex;
}

/* ! App.js end */
/* * Styling and fitting for the header bar and contents from Header.js */



.header{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  height: 18vh;
  min-width: 100%;
  /* background-color:#506369; */
  background-color: #7f948f;
}

/* * Left side of header */
/*  */

.left-header{
  width: 15%;
}

.logo-bg{
  height: 17vh;
  width: 9vw;
  background-color: #fae1dd;
  opacity: 95%;
  border-radius: 50%;
  display: flex;
  align-content: center;
  margin: .3em;
}

.logo{
  height: 95%;
  display: flex;
  align-content: center;
  margin-left: 1em;
}



/* * Middle of header */

.mid-header{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.shop-name{
  display: flex;
  font-size: 5em;
  font-family: 'Dancing Script', cursive;
  /* color: #cd2e82; */
  /* color: #ffe5d9 */
  color: #fff;
}


/* * Right side of header */

.right-header{
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: flex-end;
  margin-right: .5em;
}

.motto{
  height: 30%;
  display: inline-block;
  font-family: 'Dancing Script', cursive;
  font-size: 38px;
  font-weight: 500;
  margin-top: 0px;
  margin-right: 10px;
}

.motto a{
  text-decoration: none;
  color: #ece4db;
}

.motto a:hover{
  font-size: 58px;
  color: #fcd5ce;
}

/* ! End of Header.js */
/* * Individual cake image sizing and image display from Cake.js */
/* ! AS WELL AS THE WRAPPING WHICH FLOWS OVER TO DisplayCakes.js */

.cake{
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.cake img{
  height: 35vh;
  width: 20vw;
  border-radius: 20%;
  border: 3px solid #fec5bb;

}

.cake img:hover{
  border: 5px outset cornflowerblue;
}

.cake h2{
  font-size: 30px;
  font-weight: 700; 
  color: #7cb3b3;
  margin: 5px;
}

.cake h3{
  font-size: 20px;
  font-weight: 400;
  color: #ca80c4;
  margin-top:0;
  margin-bottom: 0;
}

.cake h4{
  font-size: 18px;
  font-weight: 300;
  color: #887caa;
  margin-top: 0;
  margin-bottom: 0;
}



button{
  background-color: #283361;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add-btn-style{
  background-color: transparent;
  color: rgb(32, 235, 174);
  /* color: #fff; */
  border: 1px solid rgb(97, 167, 163);
  background-color: #e8e8e4;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 1vh;
  transition-duration: 0.5s;
  cursor: pointer;
}

.checkout-margin{
  margin-top: -8px;
}

.add-btn-style:hover{
  /* background-color: #4caf50; */
  border: 3px solid rgb(98, 170, 119);
  background-color: #e8e8e4;
  color: #fff;
}

/* ! End of Cake.js */
/* * Positioning and layout of DisplayCakes.js */

.left{
  width: 80vw;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  /* background-color: #7f948f;*/
  background-color: #f8edeb;
}

.cake-btn-divide{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.bakery{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.buttons{
  height: 100%;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.btn-left{
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 0px;
}

.btn-right{
  width: 18%;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-end;

  position: relative;
  bottom: 0px;
  /* right: .8vw; */
}

.text-wrap{
  width: 85%;
  text-align: center;
  margin-bottom: 2px;
}

/* ! End of DisplayCakes.js */
/* * Positioning and layout of Checkout.js */

.right{
  min-height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #afeeee; */
  background-color: #fae1dd;
}

.cart{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cart ol{
  width: 100%;
  padding: 0;
}

.cart span{
  font-size: 20px;
  margin: 0px;
}

/* .cart-quantity{
  display: flex;
} */

/* .cart-cake{
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
} */

.cart-cake{
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}

.cart-cake img{
  height: 100px;
  width: 100px;
  display: flex;
  align-content: center;
  border-radius: 20%;
}

.cart-cake h2{
  font-size: 22px;
  color: #b9a456;
  margin-top: 1px;
  margin-bottom: 0;
}

.cart-cake h3{
  font-size: 18px;
  color: #0f0;
  margin-top: 0;
}

.cart-cake button{
  display: inline-block;
  background-color: #fec601;
  font-size: 20px;
  padding: 5px 13px;
}

#total{
  font-size: 24px;
  font-weight: 500;
}

.checkout-btn{
  display: flex;
  width: 90%;
  justify-content: center;
  font-size: 20px;
  padding: 5px;
  background-color: #fec601;
  cursor: pointer;
}







/* ! button layout */
/* 
.btn-container{
  display: flex;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  padding: 3px;
}

.btn-container:hover{
  box-shadow: 0 13px 15px 0 #817f7f, 0 17px 50px 0 rgba(0,0,0,0.19);
} */